<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help</title>
</head>
<body>
    <H2 style="color: aquamarine">Group Two</H2>
    <h1 style="align-content: center">Help Task2</h1>
     <h1>Trang trợ giúp</h1>
    <p>Đây là trang trợ giúp của bạn. Bạn có thể thêm bất kỳ nội dung nào bạn muốn vào đây.</p>
    <p>Ví dụ:</p>
    <ul>
        <li>Hướng dẫn sử dụng</li>
        <li>Câu hỏi thường gặp</li>
        <li>Liên hệ hỗ trợ</li>
    </ul>
    <div style="text-align: center;">
      <table>
        <tr>
          <th>Họ và tên</th>
          <th>Tuổi</th>
        </tr>
        <tr>
          <td>Nguyễn Văn A</td>
          <td>25</td>
        </tr>
      </table>
    </div>
    {{ help_page_tag }}
</body>
</html>